/* 
    Document   : style
    Created on : 17/01/2014, 17:58:35
    Author     : jcalderon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    background-color: aquamarine;
}

#Header h1
{
    text-align: center;
}